@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  font-family: 'Roboto', sans-serif;
  font-size: 0.625em;
  background-color: skyblue;
}

body {
  font-size: 1.6rem;
}

.heading-container {
  font-size: 48px;
  text-align: center;
}

.heading2-content {
  font-size: 32px;
  text-align: center;
}

.p-photo {
  height: 125px;
  width: 125px;
  float: left;
  top: 0;
  bottom: 0;
}

.about-me {
  font-size: 16px;
  text-align: justify;
}

.round-img {
  display: inline-block;
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.round-1 {
  float: left;
  width: 200px;
  height: 400px;
}

.nav-content, .ul-content li {
  display: inline-block;
  width: auto%;
  list-style-type: none;
}

li {
  background: gray;
  margin: 25px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.aside-container {
  height: 80vh;
  width: 20vw;
  float: left;
}

.main-container {
  text-align: center;
  width: 75vw;
}