@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  font-family: 'Roboto', sans-serif;
  font-size: 0.625rem;
  background-image: url(../images/original.gif);
}

body, body * {
  box-sizing: border-box;
}

body {
  font-size: 1.6em;
}

h1 {
  font-size: 3em;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 1px red;
}

nav {
  font-family: 'Open Sans Condensed', sans-serif;
  width: 75%;
  margin-left: 15.625em;
  margin-bottom: 5em;
  text-align: center;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  text-transform: uppercase;
}

li:hover {
  background: white;
}

ul li {
  font-weight: bold;
  background-color: red;
  margin: 1.25em;
  padding: 0.625em;
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
}

li a {
  margin-right: 3.125em;
  padding: 3.125em;
}

h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2.850em;
  border: 2px solid black;
  border-radius: 5px;
}

.main-container {
  background: black;
  color: white;
  text-align: center;
  width: 75%;
  margin-left: 15.625em;
  padding: 6.25em;
  border: 1px solid blue;
  border-radius: 3.125em;
}

.p-photo {
  height: 8.4375em;
  width: 7.5em;
  float: left;
  margin-top: -44px;
}

.about-me {
  font-size: 1em;
  text-align: justify;
  margin-bottom: 5px;
}

.aside-container {
  height: 80vh;
  width: 20vw;
  float: left;
  position: fixed;
  bottom: 9.375em;
}

.round-img {
  display: inline-block;
  width: 11.375em;
  height: 11.375em;
  border-radius: 50%;
}

.round-1 {
  width: 11.375em;
  height: 27.375em;
  border-radius: 15%;
}

.proghraph-content {
  width: 75%;
  background: green;
  text-align: center;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  float: left;
  margin-left: 249px;
  padding: 10px;
}

/* /////////// */

.container {
  color: black;
  width: 50%;
  height: 50px;
  margin-left: 249px;
  padding: 10px;
  margin-bottom: 3em;
}

.container #contact {
  border: 1px solid;
  border-radius: 5px;
  background: red;
}

h3 {
  border: 3px solid;
  border-radius: 5px;
}

.footer1-container {
  width: 75%;
  text-align: center;
  font-size: 16px;
  float: left;
  margin-top: 249px;
  margin-left: 55px;
  padding: 10px;
}

.icons a {
  width: 75%;
  color: white;
  background: blue;
  border: 1px solid black;
  margin-right: 75px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}